<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

  <script src="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>This is my heading</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>This is my second heading</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="background-color:#517d8c">
      <p style="color: #7c2b2b">This is a colored paragraph.</p>
    </div>
    <div class="col-md-6" style="background-color:#2c63ed">
      <p style="color: #ffffff">This is a colored paragraph.</p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6" style="background-color:lightblue">
      <div class="row">
        <div class="col-md-6" style="background-color:#0f7ba1">
          <p>line 1</p>
        </div>
        <div class="col-md-6" style="background-color:#834fd1">
          <p>line 2</p>
        </div>
      </div>
      <p style="color: red">This is a colored paragraph. 2x</p>
    </div>
    <div class="col-md-6" style="background-color:green">
      <p style="color: #ffffff">This is a colored paragraph. 2x</p>
    </div>
  </div>
</div>

</body>
</html>